:root {
    --color-2-4: mistyrose;
    --color-5-6: moccasin;
    --color-h-f: lavender;
    --color-menu-title: chocolate;
    --color-block-4-text: darksalmon;
    --color-footer-text: grey;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-size: 1vw;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

header, footer {
    min-height: 15vh;
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-h-f);
}

.block-1 {
    max-width: 40%;
}

main {
    min-height: 70vh;
    width: 100%;
    border-width: 1px 0;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

footer {
    color: var(--color-footer-text);
}

.left-block, .right-block {
    width: 100%;
    display: flex;
}

.left-block {
    flex-direction: column;
}

.left-top-block {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

.block-2 {
    justify-content: center;
    align-items: center;
}

.block-2, .block-3 {
    width: 100%;
}

.right-block {
    width: 100%;
    justify-content: space-between;
    gap: 5vw;
}

.block-2, .block-3, .block-4, .block-5, .block-6 {
    display: flex;
    padding: 2% 3%;
    border-width: 0 1px;
    border-style: solid;
}

.block-4, .block-5 {
    width: 100%;
}

.header-slogan {
    max-width: 50%;
}

.block-2, .block-4 {
    background-color: var(--color-2-4);
}

.block-3, .block-4, .block-5 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.block-4 * {
    color: var(--color-block-4-text);
}

.block-4 p {
    text-align: end;
}

.block-4 ol {
    max-width: 50%;
}

.block-4, .block-5 {
    grid-row: 1 / -1;
}

.block-5, .block-6 {
    background-color: var(--color-5-6);
}

.block-6 {
    min-height: 100px;
    border-top: 1px solid black;
    justify-content: flex-start;
    align-items: center;
}

.block-7 {
    max-width: 40%;
}

nav {
    max-width: 50%;
}

.menu-list {
    font-style: italic;
}

.menu-title {
    color: var(--color-menu-title);
}

.footer-slogan-block {
    max-width: 50%;
}

.footer-link {
    color: var(--color-footer-text);
    text-decoration: underline;
}